.container {
  height: 300px;
  width: 400px;
  /* 그리드는 부모객체에서 비율을 설정한다 */
  /* fr은 비율을 의미한다 */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.column{
  border: 1px solid black;
}